<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    /* Style for the links */
    #navigation a {
      color: blue; /* You can adjust the color to your preference */
      text-decoration: none; /* Optional: Remove underline if you don't want it */
    }

    /* Optional: Style for visited links */
    #navigation a:visited {
      color: blue;
    }
  </style>
</head>
<body>


<!-- Header -->
<header id="header">
  <div class="inner">
    <a href="{{ "/" | relative_url }}" class="image avatar"><img src="{{ site.logo | relative_url }}" alt="{{ site.title | escape }}" /></a>
    <h1>
      <strong>{{ site.title | escape }}</strong><br />
      {{ site.description | escape }}
    </h1>
  </div>

  <!-- Navigation -->
  <nav id="navigation">
    <ul class="links">
      <a href="https://nataliermcastro.github.io/projects/2025/About-Me.html">about</a><br>
      <a href="https://nataliermcastro.github.io/">portfolio</a><br>
      <a href="https://nataliermcastro.github.io/projects/2024/11/19/Resume.html">resume</a><br>
      <a href="https://nataliermcastro.github.io/2023/12/27/Get-In-Touch.html">contact</a><br>
    </ul>
  </nav>
</header>
