<!-- Header -->
<header id="header">
  <div class="inner">
    <a href="{{ "/" | relative_url }}" class="image avatar"><img src="/assets/images/avatar.png" alt="Photo of Natalie" width="300" /></a>

    <h1>
      <strong>{{ site.title | escape }}</strong><br />
      {{ site.description | escape }}
    </h1>
  </div>

  <!-- Navigation -->
  <nav id="navigation">
    <ul class="links">
      <a href="https://nataliermcastro.github.io/website/misc/2023/12/27/About-Me.html">about</a><br>
      <a href="https://nataliermcastro.github.io/website/">projects</a><br>
      <a href="https://nataliermcastro.github.io/website/2023/12/27/Get-In-Touch.html">contact</a><br>
    </ul>
  </nav>
</header>
